<a href="https://colab.research.google.com/github/bryancev/Bootcamp_DE/blob/main/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Задание 1 (Проверка валидности пароля)

Напиши условие, которое проверяет пароль по следующим условиям:

- Длина от 8 до 20 символов;
- Есть хотя бы одна буква;
- Есть хотя бы одна цифра;
- Не начинается с цифры;
- Нет пробелов.

In [ ]:
passwords = ["Fk2r4snrU#", "12345"]

for password in passwords:
    if password:
        print("Пароль валиден")
    else:
        print("Пароль невалиден")

In [ ]:
2. Найти слова, начинающиеся или заканчивающиеся на букву. Вывести список этих слов.

In [ ]:
text = "Анна купила арбуз, а потом абрикос и банан"
letter = "а"

result = []

print(result)

In [ ]:
3. Разделение чётных и нечётных чисел. Вывести четные числа и нечетные числа без дубликатов

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 2, 8, 3, 11, 1, 13, 5]

# even_set =
# odd_set =


# print("Чётные:", even_set)
# print("Нечётные:", odd_set)

In [ ]:
4. Вывести все имена людей, у кого возраст больше 18 лет в формате списка

In [ ]:
people = [("Аня", 20), ("Борис", 17), ("Вика", 25), ("Глеб", 15)]

adults = []

print("Взрослые:", adults)